._Card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin-bottom: 10px;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.Card_Title {
  font-weight: bold;
  border-bottom: solid 5px transparent;
  cursor: pointer;

  &::before {
    display: inline-block;
    width: 1em;
    content: '▸';
  }

  &.Card_Title_Open::before {
    content: '▾';
  }

  &:hover {  // ✅ 마우스 오버 효과 추가 가능
    color: #007bff; // (선택 사항) 마우스 오버 시 색상 변경
  }
}
